<div id="content" #content> 
  <h1>List Universite</h1>
  <table class="table">
      <thead>
          <tr>
              <th>id</th>
              <th>Nom Universite</th>
           
              <th>action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of universiteList">
              <td>{{u.idUniv}}</td>
              <td>{{u.nomUniv }}</td>
              
              <td>
                  <button class="btn btn-sm btn-danger" (click)="delete(u.idUniv)" >
                      delete
                  </button>
                  &nbsp;
                  <a class="btn btn-sm btn-warning" [routerLink]="['/universites/universite/putUni', u.idUniv]">
                      update  
                  </a>
                  &nbsp;
                  
              </td>
          </tr>
      </tbody>
  </table>
  
  <a class="btn btn-sm btn-warning" [routerLink]="['/universites/universite/add']">
    Add Universite  
</a>
  </div>