<div id="content" #content> 
  <h1>List Department</h1>
<!--   <input
  type="number"
  aria-labelledby="temperature low"
  #myInput
  [(ngModel)]="idDepart"
  (input)="recherche(idDepart)"
/> -->

  
  <table class="table">
      <thead>
          <tr>
             <th>ID</th>
              <th>Nom Department</th>
    
              <th>action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of departmentList 
    ">
              <td>{{u.idDepart}}</td>
              <td>{{u.nomDepart }}</td>
              
              <td>
                  <button class="btn btn-sm btn-danger" (click)="delete(u.idDepart)" >
                      delete
                  </button>
                  &nbsp;
                  <a class="btn btn-sm btn-warning" [routerLink]="['/departments/Department/putDepartement', u.idDepart]">
                      update  
                  </a>
                  &nbsp;
                  <a class="btn btn-sm btn-info" (click)="makePDF()" >
                      generate pdf  
                  </a>

                  <!-- <a class="btn btn-sm btn-warning" (click)=" exportToPDF()">
                    PDF  
                </a> -->
                &nbsp;
              </td>
          </tr>
      </tbody>
  </table>
  <a class="btn btn-sm btn-warning" [routerLink]="['/departments/Department/add']">
    Add Department  
</a>
</div>