<h1> {{action}} Classe</h1>
<form style="padding-left: 250;"#f="ngForm">
  <div class="form-group col-md-6">
    <label>Nom</label>
    <input [(ngModel)]="classe.nomClasse" type="text" name="nomClasse" class="form-control" 
    required minlength="3" 
    #t="ngModel">
   <div class="alert alert-danger" *ngIf="t.invalid && t.touched">
       <div *ngIf="t.hasError('required')">this field is required</div>
       <div *ngIf="t.hasError('minlength')">minlength = 3!</div>
       <div *ngIf="t.hasError('pattern')">error pattern</div>
  </div>
  </div>
  <div class="form-group col-md-6">
  <label>nombreEtudiants</label>
  <input [(ngModel)]="classe.nombreEtudiants" type="text" name="nombreEtudiants" class="form-control" 

  #p="ngModel">
 <div class="alert alert-danger" *ngIf="p.invalid && p.touched">
     <div *ngIf="p.hasError('required')">this field is required</div>
     <div *ngIf="p.hasError('minlength')">minlength = 3!</div>
     <div *ngIf="p.hasError('pattern')">error pattern</div>
</div>
</div>

  <br>
  <button class="btn btn-outline-success" (click)="add()" [disabled]="f.invalid">
    save
  </button>
  &nbsp;
  <button type="reset" class="btn btn-outline-warning">
    reset
  </button>
</form>

